# Miniproject: Booking

Знакомство с pandas

Данные о бронировании отелей. 

### Задачи
1) Импортируйте библиотеку pandas как pd. Загрузите датасет bookings.csv с разделителем ;. Проверьте размер таблицы, типы переменных, а затем выведите первые 7 строк, чтобы посмотреть на данные. 

2) Приведите названия колонок к нижнему регистру и замените пробелы на знак нижнего подчеркивания.

3) Пользователи из каких стран совершили наибольшее число успешных бронирований? Укажите топ-5.

4) На сколько ночей в среднем бронируют отели разных типов?

5) Иногда тип номера, полученного клиентом (assigned_room_type), отличается от изначально забронированного (reserved_room_type). Такое может произойти, например, по причине овербукинга. Сколько подобных наблюдений встретилось в датасете?

6) Проанализируйте даты запланированного прибытия. – На какой месяц чаще всего успешно оформляли бронь в 2016? Изменился ли самый популярный месяц в 2017?– Сгруппируйте данные по годам и проверьте, на какой месяц бронирования отеля типа City Hotel отменялись чаще всего в каждый из периодов

7) Посмотрите на числовые характеристики трёх переменных: adults, children и babies. Какая из них имеет наибольшее среднее значение?

8) Создайте колонку total_kids, объединив children и babies. Для отелей какого типа среднее значение переменной оказалось наибольшим?

9) Создайте переменную has_kids, которая принимает значение True, если клиент при бронировании указал хотя бы одного ребенка (total_kids), в противном случае – False. Посчитайте отношение количества ушедших пользователей к общему количеству клиентов, выраженное в процентах (churn rate). Укажите, среди какой группы показатель выше.
 

### Описание данных

- Hotel – тип отеля (City Hotel или Resort Hotel)  
- Is canceled – бронирование было отменено (1) или нет (0); не отмененное считается успешным
- Lead time – количество дней, прошедших между датой бронирования и датой прибытия  
- Arrival full date – полная дата прибытия
- Arrival date year – год прибытия  
- Arrival date month – месяц прибытия  
- Arrival date week number – номер недели прибытия
- Arrival date day of month – день прибытия
- Stays in weekend nights – количество выходных (суббота или воскресенье), которые гость забронировал для проживания в отеле
- Stays in week nights – количество дней (с понедельника по пятницу), которые гость забронировал для проживания в отеле
- Stays total nights – общее число забронированных ночей (сумма двух предыдущих колонок)
- Adults – число взрослых
- Children – число детей
- Babies – число младенцев 
- Meal – выбранный тип питания
- Country – страна происхождения клиента
- Reserved room type – тип зарезервированного номера
- Assigned room type – тип полученного номера (может отличаться от забронированного)
- Customer type – тип бронирования
- Reservation status – значение последнего статуса брони: Canceled - было отменено клиентом; Check-Out - клиент зарегистрировался, но уже покинул отель; No-Show - клиент не зарегистрировался и сообщил администрации отеля причину
- Reservation status date – дата обновления статуса

In [1]:
import pandas as pd

In [2]:
bk = pd.read_csv('/mnt/HC_Volume_18315164/home-jupyter/jupyter-a-eremina/shared/homeworks/python_ds_miniprojects/2/bookings.csv', sep = ';')

In [3]:
bk.shape

(119390, 21)

In [4]:
bk.dtypes

Hotel                         object
Is Canceled                    int64
Lead Time                      int64
arrival full date             object
Arrival Date Year              int64
Arrival Date Month            object
Arrival Date Week Number       int64
Arrival Date Day of Month      int64
Stays in Weekend nights        int64
Stays in week nights           int64
stays total nights             int64
Adults                         int64
Children                     float64
Babies                         int64
Meal                          object
Country                       object
Reserved Room Type            object
Assigned room type            object
customer type                 object
Reservation Status            object
Reservation status_date       object
dtype: object

In [5]:
bk.describe()

,Is Canceled,Lead Time,Arrival Date Year,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,stays total nights,Adults,Children,Babies
count,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119386.000000,119390.000000
mean,0.370416,104.011416,2016.156554,27.165173,15.798241,0.927599,2.500302,3.427900,1.856403,0.103890,0.007949
std,0.482918,106.863097,0.707476,13.605138,8.780829,0.998613,1.908286,2.557439,0.579261,0.398561,0.097436
min,0.000000,0.000000,2015.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,18.000000,2016.000000,16.000000,8.000000,0.000000,1.000000,2.000000,2.000000,0.000000,0.000000
50%,0.000000,69.000000,2016.000000,28.000000,16.000000,1.000000,2.000000,3.000000,2.000000,0.000000,0.000000
75%,1.000000,160.000000,2017.000000,38.000000,23.000000,2.000000,3.000000,4.000000,2.000000,0.000000,0.000000
max,1.000000,737.000000,2017.000000,53.000000,31.000000,19.000000,50.000000,69.000000,55.000000,10.000000,10.000000

In [6]:
bk.head()

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03

In [7]:
bk.columns

Index(['Hotel', 'Is Canceled', 'Lead Time', 'arrival full date',
       'Arrival Date Year', 'Arrival Date Month', 'Arrival Date Week Number',
       'Arrival Date Day of Month', 'Stays in Weekend nights',
       'Stays in week nights', 'stays total nights', 'Adults', 'Children',
       'Babies', 'Meal', 'Country', 'Reserved Room Type', 'Assigned room type',
       'customer type', 'Reservation Status', 'Reservation status_date'],
      dtype='object')

In [8]:
# Переименуем колонки
rename_cols = {}
for col in bk.columns:
    rename_cols[col] = col.replace(' ', '_').lower()
rename_cols

{'Hotel': 'hotel',
 'Is Canceled': 'is_canceled',
 'Lead Time': 'lead_time',
 'arrival full date': 'arrival_full_date',
 'Arrival Date Year': 'arrival_date_year',
 'Arrival Date Month': 'arrival_date_month',
 'Arrival Date Week Number': 'arrival_date_week_number',
 'Arrival Date Day of Month': 'arrival_date_day_of_month',
 'Stays in Weekend nights': 'stays_in_weekend_nights',
 'Stays in week nights': 'stays_in_week_nights',
 'stays total nights': 'stays_total_nights',
 'Adults': 'adults',
 'Children': 'children',
 'Babies': 'babies',
 'Meal': 'meal',
 'Country': 'country',
 'Reserved Room Type': 'reserved_room_type',
 'Assigned room type': 'assigned_room_type',
 'customer type': 'customer_type',
 'Reservation Status': 'reservation_status',
 'Reservation status_date': 'reservation_status_date'}

In [9]:
bk = bk.rename(columns=rename_cols)

**Пользователи из каких стран совершили наибольшее число успешных бронирований?**

Бронирование считается успешным, если в дальнейшем не было отменено (is_canceled)

In [10]:
country_not_canceled = bk \
                        .query('is_canceled == "0"') \
                        .groupby('country', as_index=False) \
                        .agg({'is_canceled' : 'count'}) \
                        .sort_values('is_canceled', ascending=False)

In [11]:
country_not_canceled.head()

    country  is_canceled
125     PRT        21071
57      GBR         9676
54      FRA         8481
50      ESP         6391
42      DEU         6069

**На сколько ночей (stays_total_nights)  в среднем бронируют отели типа City Hotel? Resort Hotel?**

In [14]:
mean_count_nights = bk \
                        .groupby('hotel', as_index=False) \
                        .agg({'stays_total_nights' : 'mean'}) \
                        .round(2)
mean_count_nights

          hotel  stays_total_nights
0    City Hotel                2.98
1  Resort Hotel                4.32

Иногда тип номера, присвоенного клиенту (assigned_room_type), отличается от изначально забронированного (reserved_room_type). 
Такое может произойти, например, по причине овербукинга.

**Сколько подобных наблюдений встретилось в датасете?**

In [15]:
len(bk.query('assigned_room_type != reserved_room_type'))

14917

**На какой месяц чаще всего оформляли бронь в 2016 году? Изменился ли самый популярный месяц в 2017?**

In [16]:
month_2016year = bk \
                    .query('arrival_date_year == 2016') \
                    .arrival_date_month.value_counts()
month_2016year

October      6203
May          5478
April        5428
September    5394
June         5292
August       5063
March        4824
July         4572
November     4454
February     3891
December     3860
January      2248
Name: arrival_date_month, dtype: int64

In [17]:
month_2017year = bk \
                    .query('arrival_date_year == 2017') \
                    .arrival_date_month.value_counts()
month_2017year

May         6313
April       5661
June        5647
July        5313
March       4970
August      4925
February    4177
January     3681
Name: arrival_date_month, dtype: int64

In [18]:
# Другой метод решения
bk.groupby('arrival_date_year').arrival_date_month.agg(pd.Series.mode)

arrival_date_year
2015    September
2016      October
2017          May
Name: arrival_date_month, dtype: object

**Сгруппируйте данные по годам, а затем проверьте, на какой месяц (arrival_date_month) бронирования отеля типа City Hotel 
отменялись чаще всего в 2015? 2016? 2017?**

In [19]:
month_canceled_city_hotel = bk \
                    .query('hotel == "City Hotel"' and 'is_canceled == 1') \
                    .groupby('arrival_date_year')['arrival_date_month'].value_counts() \
                    .groupby('arrival_date_year').nlargest(1)

month_canceled_city_hotel

arrival_date_year  arrival_date_year  arrival_date_month
2015               2015               September             2094
2016               2016               October               2514
2017               2017               May                   2762
Name: arrival_date_month, dtype: int64

**Посмотрите на числовые характеристики трёх колонок: adults, children и babies. Какая из них имеет наибольшее среднее значение?**

In [20]:
age_count_means = bk[['adults', 'children', 'babies']].mean()
age_count_means

adults      1.856403
children    0.103890
babies      0.007949
dtype: float64

Создайте колонку total_kids, объединив столбцы children и babies. 

**Для отелей какого типа среднее значение переменной оказалось наибольшим?**

In [21]:
bk['total_kids'] = bk.children + bk.babies

In [22]:
total_kids_hotel = bk \
                    .groupby('hotel', as_index=False) \
                    .total_kids.mean() \
                    .round(2) 
                    
total_kids_hotel

          hotel  total_kids
0    City Hotel        0.10
1  Resort Hotel        0.14

Не все бронирования завершились успешно, поэтому можно посчитать, сколько клиентов было потеряно в процессе. Иными словами, посчитать метрику под названием Churn Rate. 

Churn rate (отток, коэффициент оттока) – это процент подписчиков (например, на push-уведомления от сайта), 
которые отписались от канала коммуникации, отказались от услуг сервиса в течение определенного периода времени. 
Иными словами, представляет собой отношение количества ушедших пользователей к общему количеству пользователей. 

В нашем случае Churn Rate - это процент клиентов, которые отменили бронирование. 
Давайте посмотрим, как эта метрика связана с наличием детей у клиентов!

**Создайте переменную has_kids, которая принимает значение True, если клиент при бронировании указал хотя бы одного ребенка 
(total_kids), в противном случае – False. Далее проверьте, среди какой группы пользователей показатель оттока выше.**

**В качестве ответа укажите наибольший % оттока, округленный до 2 знаков после точки**

In [23]:
bk['has_kids'] = bk.total_kids > 0

In [24]:
canceled_has_kids = bk.query('is_canceled == 1 and has_kids == True')

In [25]:
canceled_has_kids.shape

(3259, 23)

In [26]:
count_has_kids = bk.query('has_kids == True')

In [27]:
count_has_kids.shape

(9332, 23)

In [28]:
churn_rate_has_kids = canceled_has_kids.shape[0]/count_has_kids.shape[0]*100

In [29]:
churn_rate_has_kids

34.92284612087441

In [30]:
canceled_no_kids = bk.query('has_kids == False and is_canceled == 1')

In [31]:
canceled_no_kids.shape

(40965, 23)

In [32]:
count_no_kids = bk.query('has_kids == False')

In [33]:
count_no_kids.shape

(110058, 23)

In [34]:
churn_rate_no_kids = canceled_no_kids.shape[0]/count_no_kids.shape[0]*100

In [35]:
churn_rate_no_kids

37.221283323338604

In [45]:
round(max(churn_rate_has_kids, churn_rate_no_kids), 2)

37.22